@charset "shift_jis";

/* ----------------------------------------------------------------
    Structure= Header Area
----------------------------------------------------------------- */
#headerArea *{
margin:0;
padding:0;
}

#headerArea p#logo{
position:absolute;
top:17px;
left:21px;
}

#headerArea p#impressiveAdvertisement{
position:absolute;
top:13px;
right:11px;
}

#headerArea li{
position:absolute;
}

#headerArea li#logout{ top:44px; right:103px; }
#headerArea li#help{ top:44px; right:11px; }
#headerArea li#logout2{ top:44px; right:11px; }
