@charset "shift_jis";

/* ----------------------------------------------------------------
    Structure= Content Area
----------------------------------------------------------------- */

/* ----------------------------------------------------------------
  [mcp-01]  def_import_print.cssより切り出し/overflow:visibleを追加
----------------------------------------------------------------- */
#mainColumn div.ruleBox{
height:auto;
overflow:visible;
}
/* -------------------------------------------------------------- */

/* ----------------------------------------------------------------
  [mcp-02]  #mainColumn div.keyPanelArea を非表示
----------------------------------------------------------------- */
#mainColumn div.keyPanelArea{
display:none;
}
/* -------------------------------------------------------------- */

/* ----------------------------------------------------------------
  カレンダアイコンを非表示
----------------------------------------------------------------- */
img#cldBegin,
img#cldEnd{
display:none;
}
/* -------------------------------------------------------------- */

/* ----------------------------------------------------------------
    CSS 更新内容
----------------------------------------------------------------- */
/*  [mcp-01] mainColumn div.ruleBox
 heightをautoに変更/overflow:visibleを追加*/

/*  [mcp-02] #mainColumn div.keyPanelArea{
display:none;}を追加*/

/*  img#cldBegin,img#cldEnd{display:none;}を追加*/