@charset "shift_jis";

/* ----------------------------------------------------------------
    Structure= Frame
----------------------------------------------------------------- */
#frame{
margin:0 auto;
width:100%;
text-align:left;
}


/* ----------------------------------------------------------------
    Structure= Header Area
----------------------------------------------------------------- */
#headerArea{
margin-bottom:14px;
position:relative;
height:89px;
background:none
}


/* ----------------------------------------------------------------
    Structure= Contents Area
----------------------------------------------------------------- */
#contentsArea{
zoom:1;
width:100%;
}


/* ----------------------------------------------------------------
    Structure= Main Column
----------------------------------------------------------------- */
#mainColumn{
float:none;
width:100%;
}


/* ----------------------------------------------------------------
    Structure= Sub Column
----------------------------------------------------------------- */
#subColumn{
display:none;
}


/* ----------------------------------------------------------------
    Structure= Footer Area
----------------------------------------------------------------- */
#footerArea{
clear:both;
margin-top:20px;
}